NEXT_PUBLIC_SUPABASE_URL=https://TU-PROYECTO.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_xxx
SECRETO_HUELLA=cambia-esto-por-una-cadena-aleatoria
NEXT_PUBLIC_URL_WEB=http://localhost:3000
